.customer-favorites {
  text-align: center;
      width: 82%;
    max-width: 1030px;
    margin: auto;
}



.section-title {
  font-family: 'Berliner Grotesk', sans-serif;
  font-size: 3rem;
  margin-bottom: 4rem;
  text-transform: uppercase;
letter-spacing: 0.1rem;
}

.favorites-grid {
  display: flex;
  /* grid-template-columns: repeat(auto-fit, minmax(220px, 1fr)); */
  gap: 3rem;
  justify-items: center;
}

/* .product-card {
  max-width: 220px;
} */

.product-image {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.product-name {
  margin-top: 1rem;
  font-weight: 600;
  font-size: 1rem;
  text-transform: uppercase;
}

/* .product-size,
.product-price,
.product-stars,
.product-reviews {
  font-size: 0.9rem;
  margin: 0.2rem 0;
} */
.decorative-rule {
  position: relative;
  width: 100%;
  /* max-width: 80%; */
  margin: 5rem auto;
  height: 1.5px;
  background-color: #c79c6e; /* warm brown */
  /* margin-bottom: 4rem */
}
.decorative-rule.favorites{
  margin-bottom: 4rem
}

.decorative-rule.bottom{
  margin-top:4rem
}

.decorative-rule::before,
.decorative-rule::after {
  content: '';
  position: absolute;
  top: 50%;
  width: 6px;
  height: 6px;
  background-color: #c79c6e;
  border-radius: 50%;
  transform: translateY(-50%);
}

.decorative-rule::before {
  left: 0;
}

.decorative-rule::after {
  right: 0;
}
h2 {
  font-family: 'Berliner Grotesk', sans-serif;
  font-size: 3.5rem;
  margin-bottom: 2rem;
  /* text-transform: initial; */
}
h3.product-name{
  font-family: mr-eaves-xl-modern, sans-serif;
  font-weight: 400;
  font-size: 2.1rem;
  letter-spacing: 0.05rem;
}
h5 {
  font-size: 1.7rem;
  line-height: 1.5;
}
.reviews {
  display: flex;
  justify-content: space-around;
}
p {
  font-size: 1.1rem;
  line-height: 3;
}
