.HomeContainer {
  width: 100%;
  margin: auto;
  margin-top: 12rem
}
.box {
  width: 100%;
  height: 3000px;
  color: black

}

@media screen and (min-width: 481px) {
.HomeContainer {
  margin-top: 39rem
}
}
