.HomeContainer {
  width: 100%;
  margin: auto;
  margin-top: 12rem

}
.box {
  width: 100%;
  height: 1000px;
  color: black

}

@media screen and (min-width: 481px) {
.HomeContainer {
  margin-top: 39rem;
  max-width:90%
    /* max-width:113rem */

}
}

.fancy-box {
  position: relative;
  /* margin: 100px auto; */
  max-width: 80%;
  /* min-height: 160px; */
  background-color: white;
  border: 1.5px solid #b8905b;
  margin:auto ;
}

.box-content {
  padding: 3rem;
  position: relative;
  z-index: 1;
  text-align: center;
  height: fit-content
}

/* Shared base for all corners */
.corner {
  position: absolute;
  width: 40px;
  height: 40px;
}

.corner::before,
.corner::after {
  content: '';
  position: absolute;
  border: 1.5px solid #b8905b;
  border-radius: 50%;
}

.corner::before {
  width: 40px;
  height: 40px;
  background: transparent;
}

.corner::after {
  width: 10px;
  height: 10px;
  background: white;
  top: 15px;
  left: 15px;
}

/* Corner positions */
.top-left {
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
}

.top-right {
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
}

.bottom-left {
  bottom: 0;
  left: 0;
  transform: translate(-50%, 50%);
}

.bottom-right {
  bottom: 0;
  right: 0;
  transform: translate(50%, 50%);
}


.box-content.type {
  font-family: 'Berliner Grotesk', sans-serif;
  font-size: 2.1rem;
  color: #231f20;
  text-transform: initial;
  letter-spacing: 0.1rem;
  line-height: 1.5;
}

.icon {
  width:4.5rem
}
.icon.para {
  width: 5.75rem
}
.icon.sust {
  margin-bottom: .5rem;
   margin-top: .8rem;

}
.icon.hand {
  margin-bottom: .7rem;

}
.value-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 6rem;
}

.copy {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h6 {
  font-size: 1.5rem;
  text-transform: initial;
  letter-spacing: normal;
}
